.blog-posts-section {
    background-color: #f8f8f8;
    padding: 40px 0;
    margin-left: 20px;
  }
  
  .blog-posts-heading {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
    margin-left: 20px;
  }
  
  .blog-post-card {
    width: 300px;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
  }
  
  .blog-post-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .blog-post-content {
    padding: 20px;
    text-align: center;
  }
  
  .blog-post-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .blog-post-date {
    font-size: 16px;
    color: #777;
    margin-bottom: 10px;
  }
  
  .slick-arrow {
    background-color: transparent;
    border: none;
    color: #555;
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
  }
  
  .prev-arrow:before,
  .next-arrow:before {
    content: '\2190'; /* Unicode character for left arrow */
  }
  
  .next-arrow:before {
    content: '\2192'; /* Unicode character for right arrow */
  }
  
  .prev-arrow,
  .next-arrow {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .prev-arrow {
    left: 10px;
  }
  
  .next-arrow {
    right: 10px;
  }
  
  .slick-prev {
    left: 5px;
  }
  
  .slick-next {
    right: 5px;
  }
  
  .slick-dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex !important;
    justify-content: center;
    padding: 0;
  }
  
  .slick-dots li {
    margin: 0 5px;
  }
  
  .slick-dots li button {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding: 0;
    background-color: #ccc;
    border: none;
    cursor: pointer;
    opacity: 0.7;
  }
  
  .slick-dots li.slick-active button {
    background-color: #555;
    opacity: 1;
  }
  