.swiper {
    width: 100%;
    height: 500px;
    position: relative;
    z-index: 1;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
    margin-bottom: 100px;
}

.swiper-button-next,
.swiper-button-prev {
    color: rgb(0, 0, 0) !important;
    background: #ffffff !important;
    box-shadow: 0 0 35px #9eceee !important;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 20px;
    border: 0;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {

    transition: 0.2s ease-out;
    transform: translateY(-0.1em) !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 20px !important;
    font-weight: 900;
}