.swiper {
    width: 100%;
    height: 500px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
    margin-bottom: 100px;
}

.swiper-button-next,
.swiper-button-prev {
    color: rgb(255, 255, 255) !important;
    background-color: #000000;
    padding: 8px 20px;
    border-radius: 10px;
    border: 0;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 20px !important;
    font-weight: 900;
}