#navbar .nav_ul li {
    padding: 0 0.7rem;

}

#navbar .nav_ul li {
    padding: 0 0.5rem;

}

#navbar .nav_ul a {
    font-size: 19px;
    color: #000 !important;
    font-weight: 400;
    letter-spacing: 0.5px;
}

#navbar .nav_ul a:hover {
    transition: 0.2s ease-out;
    transform: translateY(-0.25em) !important;
    font-weight: 500;
    color: #0026ff !important;
}

#navbar button{
    font-size: 10px;
}


#navbar .btn2 {
    position: relative;
    border-radius: 8px;
    border: 0;
    background: #f18989;
    padding: 0.5rem 1.2rem;
    text-decoration: none;
    font-size: 1.3rem;
    color: #000;
    transition: 0.3s;
    cursor: pointer;
}

#navbar .btn2:hover {
    background-color: #daa1fc;
    box-shadow: 0 0 35px #daa1fc;
    color: #fff;
}

@media screen and (max-width: 1200px) {
    #navbar .btn2 {
        font-size: 1rem;
    }

    #navbar .nav_ul a {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 1100px) {
    #navbar .btn2 {
        font-size: 0.85rem;
    }

    #navbar .nav_ul a {
        font-size: 0.95rem;
    }
}