.container {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
  }
  
  .reviewpage {
    margin-bottom: 30px;
  }
  
  .reviewpage h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  .reviewpage .owl-carousel {
    width: 80%;
    margin-top: 20px;
  }
  
.item {
    width: 300px;
    height: 350px; 
    background-color: whitesmoke;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  }
  

  .reviewpage .owl-carousel .item .review {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
  
  .review-info {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 8rem auto;
    align-items: center;
    column-gap: 30px;
  }
  
  .reviewer-image {
    height: auto;
    border-radius: 50%;
  }
  
  .review-text {
    margin-top: 15px;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
  
  .center-btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .review-stars{
    margin-top: 20px;
  }

