/*@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800;900&display=swap');*/

* {
    margin: 0;
    padding: 0;
}

:root {
    --base-font: 'Raleway', sans-serif;
    --clr-white: #fff;
    --clr-black: #000;
    --clr-orange: #fd9644;
    --clr-dark: #1C1D1F;
    --clr-purple: #A435F0;
    --clr-pink: #E91E63;
    --clr-alice-blue: #F8F9FB;
    --spacing: 0.1rem;
    --transition: all 300ms linear;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: var(--base-font);
    color: var(--clr-black);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: unset;
}

h2 .trend
 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0 3.4rem;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        padding: 0 1rem;
    }
}


.flex {

    display: flex;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
}

.flex-between {
    justify-content: space-between;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.grid {
    display: grid;
}


.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.d-inline {
    display: inline;
}


.h-100 {
    height: 100%;
}


.w-100 {
    width: 100%;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}


.btn btn-link {
    background-color: --blue-600;
}