.blogPostsSection {
  /* background-color: #f8f8f8; */
  padding: 40px 0;
  padding-left: 100px;
  padding-right: 100px;
}

.blogPostsHeading {
  text-align: left;
  margin-bottom: 40px;
}

.blogPostCard {
  width: 400px;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.blogPostImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.blogPostContent {
  padding: 20px;
  text-align: center;
}

.blogPostTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.blogPostDate {
  font-size: 16px;
  color: #777;
  margin-bottom: 10px;
}

.slickArrow {
  background-color: transparent;
  border: none;
  color: #555;
  font-size: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.prevArrow:before,
.nextArrow:before {
  content: '\2190'; /* Unicode character for left arrow */
}

.nextArrow:before {
  content: '\2192'; /* Unicode character for right arrow */
}

.prevArrow,
.nextArrow {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prevArrow {
  left: 10px;
}

.nextArrow {
  right: 10px;
}

.slickPrev {
  left: 5px;
}

.slickNext {
  right: 5px;
}

.slickDots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex !important;
  justify-content: center;
  padding: 0;
}

.slickDots li {
  margin: 0 5px;
}

.slickDots li button {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  padding: 0;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  opacity: 0.7;
}

.slickDots li.slickActive button {
  background-color: #555;
  opacity: 1;
}
