.containerFluid {
  margin-top: 50px;
  background-color: whitesmoke;
  font-family: 'Niconne', sans-serif;
  width: 100%;
}

.footerContent {
  background-color: #f8f8f8;
  padding: 30px 0;
  border-bottom: 1px solid darkgray;
  margin-right: 30px;
  margin-left: 30px;
}

.footerContent h5 {
  color: black;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 40px;
  margin-left: 40px;
}

.logoRow {
  justify-content: start;
}

.colMd3 .logoimage {
  width: 100px;
  height: auto;
  margin-left: 40px;
  align-items: left;
}

.logoimage {
  width: 150px;
  height: 100px;
  margin-bottom: 30px;
}

.footerContent ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footerContent ul li {
  color: #666;
  cursor: pointer;
  margin-left: 40px;
  font-size: 13px;
  margin-top: 10px;
}

.footerContent ul li:hover {
  color: #333;
  text-decoration: underline;
}

.footerContent ul li:last-child {
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .footerContent .colMd3 {
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media (max-width: 768px) {
  .footerContent .colMd3 {
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
}

.footerContent .colMd3 .downloadimage {
  width: 150px;
}

#download {
  margin-top: 30px;
  font-weight: bold;
  color: black;
  font-size: 15px;
  margin-bottom: 20px;
  text-decoration: none;
  cursor: default;
}

@media (max-width: 768px) {
  .dropCategories {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
  }

  .dropTitle {
    margin-right: auto;
  }

  #dropButton {
    background-color: #903232;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  .hiddenContent {
    display: none;
  }

  .show {
    display: block;
    margin-top: 20px;
    margin-left: 40px;
  }
}