.recent-additions {
    margin-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .recent-additions-heading {
    text-align: left;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  
  .course-carousel .carousel-control-prev,
  .course-carousel .carousel-control-next {
    width: 40px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .course-carousel .carousel-control-prev-icon,
  .course-carousel .carousel-control-next-icon {
    background-color: #000;
    border-radius: 50%;
    opacity: 1;
  }
  
  .card-row {
    display: flex;
    justify-content: space-between;
  }
  
  .card-container {
    flex: 0 0 calc(33.33% - 15px); /* 3 cards per row with a 15px gap */
    margin-bottom: 20px;
    margin-right: 15px; /* Add margin between the cards */
  }
  
  .card-container:last-child {
    margin-right: 0; /* Remove margin for the last card in each row */
  }
  
  .card-image {
    height: 200px;
    object-fit: cover;
    width: 100%;
  }
  
  .card-title {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-description {
    height: 80px;
    overflow: hidden;
  }
  
  .empty-card {
    visibility: hidden;
  }
  
  .star-rating {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: #f04c24;
  }
  
  .star-icon {
    color: #f04c24 !important;
    margin-right: 5px;
  }
    /* Styling for carousel controls */
    .carousel-control-prev,
    .carousel-control-next {
      width: 40px !important;
      height: 40px !important;
      top: 50% !important;
      transform: translateY(-50%) !important;
      background-color: rgba(0, 0, 0, 0.5) !important;
      border-radius: 50% !important;
    }
    
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-color: #000 !important;
      border-radius: 50% !important;
      opacity: 1 !important;
      font-size: 200px !important;
      transform: scale(4.5) !important;
      color: white !important;
      filter: brightness(150%) !important;
    }
    
    .carousel-control-prev-icon::before,
    .carousel-control-next-icon::before {
      display: inline-block;
      position: absolute;
      top: 50%;
      content: "";
      border: solid transparent;
      border-width: 8px;
      border-top-color: transparent;
      border-bottom-color: transparent;
      transform: translateY(-50%);
    }
    
    .carousel-control-prev-icon {
      left: -10px !important;
    }
    
    .carousel-control-next-icon {
      right: -10px !important;
    }