.trending-courses {
    margin-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .trending-courses-heading {
    text-align: left;
  }
  
  .nav-tabs {
    margin-bottom: 10px;
  }
  
  .nav-link {
    padding: 8px 16px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: #000;
    transition: background-color 0.3s;
  }
  
  .nav-link.active,
  .nav-link:hover {
    background-color: #f04c24;
    color: #fff;
  }
  
  .card-row {
    display: flex;
    justify-content: space-between;
  }
  
  .card-container {
    flex: 0 0 calc(25% - 15px); /* 4 cards per row with a 15px gap */
    margin-bottom: 20px;
  }
  
  .card-image {
    height: 200px;
    object-fit: cover;
    width: 100%;
  }
  
  .card-title {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .star-rating {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .star-icon {
    color: #f04c24;
  }
  
  .star-icon-empty {
    color: #ccc;
  }
  
  .rating-value {
    margin-left: 5px;
    font-weight: bold;
    color: #f04c24;
  }
  
  .card-description {
    height: 80px;
    overflow: hidden;
  }
  
  .empty-card {
    visibility: hidden;
  }
  .course-carousel {
    margin-top: 20px;
  }
  
  .card-row {
    margin-top: 20px;
  }
  
  .card-container {
    margin-bottom: 30px;
  }
  
  /* Styling for carousel controls */
  .carousel-control-prev,
  .carousel-control-next {
    width: 40px !important;
    height: 40px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-radius: 50% !important;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #000 !important;
    border-radius: 50% !important;
    opacity: 1 !important;
    font-size: 200px !important;
    transform: scale(4.5) !important;
    color: white !important;
    filter: brightness(150%) !important;
  }
  
  .carousel-control-prev-icon::before,
  .carousel-control-next-icon::before {
    display: inline-block;
    position: absolute;
    top: 50%;
    content: "";
    border: solid transparent;
    border-width: 8px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    transform: translateY(-50%);
  }
  
  .carousel-control-prev-icon {
    left: -10px !important;
  }
  
  .carousel-control-next-icon {
    right: -10px !important;
  }
  
  @media (max-width: 767.98px) {
    .nav-link {
      display: none;
    }
  
    .nav-tabs {
      overflow: hidden;
      display: none;
      position: relative;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 15px;
    }
  
    .nav-tabs::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      pointer-events: none;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1) 90%,
        rgba(255, 255, 255, 1) 100%
      );
    }
  
    .dropdown-menu {
      margin-top: 0;
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      top: 100%;
      z-index: 1;
      display: none;
    }
  
    .nav-tabs.show .dropdown-menu {
      display: block;
    }
  
    .card-container {
      flex: 0 0 calc(50% - 10px);
      padding-top: 100%;
      position: relative;
    }
  
    .card-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    .carousel-control-prev,
    .carousel-control-next {
      width: 30px !important;
      height: 30px !important;
    }
  
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      font-size: 24px !important;
      transform: scale(1) !important;
    }
  }
  
  
  